@{
  ViewData["Title"] = "Schedule your transfer";
  Layout = "_PlanningLayout";
}

@section Scripts {
  <link rel="stylesheet" href="~/css/planning.css" />
  <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap-datepicker@1.10.0/dist/css/bootstrap-datepicker.min.css">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap-datepicker@1.10.0/dist/js/bootstrap-datepicker.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap-datepicker@1.10.0/dist/locales/bootstrap-datepicker.it.min.js"></script>
  <script src="https://www.gstatic.com/firebasejs/8.10.1/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/8.10.1/firebase-firestore.js"></script>

  <script src="/js/firebaseConfig.js"></script>
  <script src="/js/planningService.js"></script>
  <script src="/js/planning.js"></script>
}

<body>

  <div class="container-fluid p-3 w-100 d-flex justify-content-center align-items-center">
    <div class="calendar-card">

      <div class="calendar-header">
        <button class="btn btn-outline-primary btn-sm" id="prevWeek">←</button>
        <div>
          <h4 class="mb-0" style="color: #d6ad61">Calendario appuntamenti</h4>
        </div>
        <button class="btn btn-outline-primary btn-sm" id="nextWeek">→</button>
      </div>

      <div class="calendar-grid" id="calendarGrid">
        <!-- generato da planning.js -->
      </div>

    </div>
  </div>

</body>